* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 800px;
  height: 800px;
  flex-wrap: wrap;
}

.element {
  background-color: blueviolet;
  border: 1px solid black;
}

.reset-btn {
  margin: 5px;
  padding: 5px;
  background-color: purple;
  color: white;
}
