* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 800px;
  height: 800px;
  flex-wrap: wrap;
}

.element {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
}

button {
  margin: 5px;
  padding: 5px;
  background-color: purple;
  color: white;
}

button:disabled {
  background-color: gray;
  opacity: 0.5;
}
