* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 512px;
  flex-wrap: wrap;
}

.element {
  width: 32px;
  height: 32px;
  background-color: blueviolet;
  border: 1px solid black;
}
